<ul>
  @for(item of listItems$ | async; track item.id) {
    <li>{{item.id}} - {{ item.title }}</li> <button (click)="deleteItem(item.id)">Excluir</button>
  }
</ul>

<div class="get-item-by-id">
  <h2>Buscando Item Pelo Id(DEFAULT)</h2>

  <label>
    id do item:
    <input type="text" #inputID (keydown.enter)="searchItemId(inputID.value)">
  </label>

  <button (click)="searchItemId(inputID.value)">Buscar</button>

  <div class="result">
    @if(itemId) {
      <li>{{ itemId.id }} - {{ itemId.title}}</li>
    } @else if(itemIdStatus) {
      <p>erro: {{ itemIdStatus }}</p>
    }
  </div>
</div>

<div class="create-item">
  <h2>Criando um Novo Item(DEFAULT)</h2>

  <input
    type="text"
    #inputItemTitle
    placeholder="titulo do novo item"
    (keydown.enter)="postItem(inputItemTitle.value)"
  >
  <button (click)="postItem(inputItemTitle.value)">Criar</button>

  <div class="result">
    @if(createdItem) {
      <p>item criado: {{ createdItem.id }} - {{ createdItem.title }}</p>
    } @else if(createdItemStatus) {
      <p>error: {{ createdItemStatus }}</p>
    }
  </div>
</div>

<div class="update-item">
  <h2>Atualizando um Item Existente(DEFAULT)</h2>

  <input type="text" #inputUpdateId placeholder="insira o id">
  <input type="text" #inputUpdateTitle placeholder="insira o novo titulo">
  <button (click)="updateItem(inputUpdateId.value, inputUpdateTitle.value)">Atualizar</button>

  <div class="result">
    @if(updatedItem) {
      <p>Item atualizado: {{updatedItem.id}} - {{updatedItem.title}}</p>
    } @else if(updatedItemStatus) {
      <p>error: {{ updatedItemStatus }}</p>
    }
  </div>
</div>
