@if(listItems(); as data) {
  <ul>
    @for(item of data; track item.id) {
      <li>{{ item.id }} - {{ item.title}}</li><button (click)="deleteItem(item.id)">Deletar</button>
    }

    <div class="result">
      @if(statusDeletedItem()) {
        <p>{{statusDeletedItem()}}</p>
      }
    </div>
  </ul>

  <div class="item-by-id">
    <h2>Buscando Item Pelo ID(SIGNAL):</h2>

    <label>
      id do item:
      <input type="text" #inputId (keydown.enter)="getIdItem(inputId.value)">
    </label>
    <button (click)="getIdItem(inputId.value)">Buscar</button>

    <div class="result">
      @if(getItemById(); as item) {
        <li>{{ item.id}} - {{ item.title }}</li>
      } @else {
        <p>{{ statusItem() }}</p>
      }
    </div>
  </div>

  <div class="create-item">
    <h2>Criando um Novo Item(SIGNAL)</h2>

    <input
      type="text"
      #inputItemTitle
      placeholder="titulo do novo item"
      (keydown.enter)="createItem(inputItemTitle.value)"
    >
    <button (click)="createItem(inputItemTitle.value)">Criar</button>

    <div class="result">
      @if(statusCreatedItem()) {
        <p>{{ statusCreatedItem() }}</p>
      }
    </div>
  </div>

  <div class="update-item">
    <h2>Atualizando um Item Existente</h2>


    <input type="text" #inputUpdateId placeholder="insira o id">
    <input type="text" #inputUpdateTitle placeholder="insira o novo titulo">
    <button (click)="updateItem(inputUpdateId.value, inputUpdateTitle.value)">Atualizar</button>

    <div class="result">
      @if(statusUpdatedItem()) {
        <p>{{ statusUpdatedItem() }}</p>
      }
    </div>
  </div>
}



